@model IList<Usuario>

<div class="d-flex justify-content-between">
    <h1>Lista de pacientes</h1>
    <form>
        <input id="filtro" class="filtro" name="filtro" value="@TempData["filtro"]"/>
        <button class="btn btn-dark" asp-action="listpacientes" asp-controller="Profissional">Filtrar por nome</button>
    </form>
</div>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Data de Nascimento</th>
        <th>Peso</th>
        <th>Sexo</th>
        <th>Altura</th>
        <th>Logradouro</th>
        <th>Número</th>
        <th>Bairro</th>
        <th>Cidade</th>
        <th>Estado</th>
        <th>Cep</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Nome</td>
            <td>@item.Sobrenome</td>
            <td>@item.DataNascimento.Value.ToShortDateString()</td>
            <td>@item.Peso</td>
            <td>@item.Sexo</td>
            <td>@item.Altura</td>
            <td>@item.Endereco.Logradouro</td>
            <td>@item.Endereco.Numero</td>
            <td>@item.Endereco.Bairro</td>
            <td>@item.Endereco.Cidade</td>
            <td>@item.Endereco.Estado</td>
            <td>@item.Endereco.Cep</td>
        </tr>
    }
</table>